.form {
    width: 400px;
    min-height: 300px;
    background-color: bisque;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.form__input {
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 200px;
}

.form__wrapper {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.form__label {
    line-height: 35.5px;
}

.form__title {
    margin-bottom: 40px;
}

.form__btn {
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    padding: 10px 45px;
}