.main {
    display: flex;
    width: 400px;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.main__btn {
    border: none;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 0.5s;
}

.main__btn:hover {
    border-radius: 20px;
}