.question-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question-creator__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
}

.question-creator__input {
    border: none;
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.question-creator__label {
    margin-right: 15px;
}

.question-creator__text {
    font-size: 16px;
    opacity: 0.4;
    text-align: center;
}

.question-creator__btn {
    border: none;
    padding: 10px 15px;
    background-color: #ffffff;
    margin-bottom: 15px;
    cursor: pointer;
    transition: border-radius 0.5s;
}

.question-creator__btn:hover {
    border-radius: 20px;
}

.question-creator__link {
    color: #000000;
}